@import '~leaflet/dist/leaflet.css';

h1, h2 {
  width: fit-content;
  margin: 10px auto;
}
.details {
  h1 {
    margin: 10px;
  }
}
.chartSection {
  height: 150px;
}
.containerMap {
  width: 100%;
  z-index: 0;
}

.details-panel {
  height: 100%;
  box-sizing: border-box;
  width: 100%;
  padding: 16px 24px;
  background-color: #fff;

  [class*='StackItem'] {
    width: 100%;
  }

  [class*='wnd-Chart'] {
    width: auto;
  }
}

.details-panel-headers {
  border-bottom: 1px solid #edeeee;
  padding-bottom: 16px;
  margin-bottom: 8px;
}

.details-panel-header {
  color: #000D0D;
  font-weight: 600;
  font-size: 20px;
  text-align: left;
  line-height: 28px;
}

.details-panel-subheader {
  display: inline-block;
  margin-top: 2px;
  color: #8e9494;
  font-size: 13px;
}

.chart-stack-item:not(:last-child) {
  margin-bottom: 10px;
  padding-bottom: 16px;
  border-bottom: 1px dotted #edeeee;
}

.chart-header {
  font-size: 14px;
  font-weight: 600;
  color: #464e4e;
  margin-bottom: 10px;
}

.value-on-top {
  display: flex;
  justify-content: center;
  font-size: 30px;
}
.close-button {
  position: absolute;
  top: 24px;
  right: 30px;
}